body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(255,255,255,0.7);
    background-image: url("../images/MTM_logo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-blend-mode: lighten;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(90, 90, 90);
    color: white;
    text-align: center;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.input-container {
    margin-bottom: 20px;
}

.buttons-container {
    margin-top: 20px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
